{% extends 'layout.twig' %}

{% block content %}
    <div class="flex flex-col items-center justify-center">
        <div class="bg-white p-8 rounded-lg mb-10">
            <h1 class="text-8xl text-gray-700 font-bold text-center">{{ data.getName() }}</h1>
        </div>

        <div class="max-w-md w-full lg:max-w-full lg:flex pl-4">
            <div class="pl-10 flex flex-col justify-center">
                <div class="mb-8 text-2xl">ID:
                    <span class="bg-gray-800 text-white rounded-lg px-2">
                        {{ data.getID() }}</span>
                </div>
                <div class="text-2xl mb-2">Air Date:
                    <span class="bg-gray-800 text-white rounded-lg px-2">
                        {{ data.getAirDate() }}</span>
                </div>
                <div class="text-2xl mb-2">Dimension:
                    <span class="bg-gray-800 text-white rounded-lg px-2">
                        {{ data.getEpisode() }}</span>
                </div>
                <div class="text-2xl mb-2">Characters in Episode:</div>
                <ul>
                    {% for character in data.getCharacters() %}
                        <li><a href="{{ character }}">{{ character }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}



